@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3 {
  font-family: "MuseoModerno";
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --dark1: #34344e;
  --dark2: #3a415a;
  --dark3: #566981;
  --dark4: #89a7b1;
  --dark5: #cbdad5;
  --dark6: #2f2f46;
  --cyan1: #70e3ea;
}

body {
  background-color: var(--dark1);
  height: 100vh; /*Ocupa tudo*/
  font-family: "poppins";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: var(--dark6);
  min-height: 50px;
}

header h1 {
  color: var(--white);
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  color: var(--white);
}

.nav-links:hover {
  color: var(--dark4);
  transition: 0.4s;
  text-decoration: underline;
}

.img-brasil {
  max-width: 30px;
  height: 100%;
}

.tags {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
  padding-bottom: 4;
  font-weight: 500;
  text-transform: capitalize;
  width: fit-content;
  border-radius: 9999px;
  color: white;
}

.tags h3:nth-child(1) {
  background-color: rgb(234 179 8);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(1):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(161 98 7);
}

.tags h3:nth-child(2) {
  background-color: rgb(59 130 246);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(2):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(29 78 216);
}

.tags h3:nth-child(3) {
  background-color: rgb(249 115 22);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(3):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(194 65 12);
}

.tags h3:nth-child(4) {
  background-color: rgb(107, 91, 248);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(4):hover {
  cursor: default;
  transition: 0.5s;
  background-color: limegreen;
}

.tags h3:nth-child(5) {
  background-color: rgb(30 64 175);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(5):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(37 99 235);
}

.tags h3:nth-child(6) {
  background-color: rgb(96 165 250);
  border-radius: 9999px;
  padding: 4px 8px;
}

.tags h3:nth-child(6):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(37 99 235);
}

.tags h3:nth-child(7) {
  border-radius: 9999px;
  background-color: black;
  padding: 4px 8px;
}

.tags h3:nth-child(7):hover {
  cursor: default;
  transition: 0.5s;
  background-color: rgb(75 85 99);
}
